@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #000;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    margin: 1em 5%;
    padding: 0;
    cursor: none;
}
* {
    cursor: none;

}
.first_container {
    padding: 10px 2em;
    padding-bottom: 140%; /*help group color extend full screen*/
}

.user_name {
    font-size: 1em;
    white-space: nowrap;

}

.signal {
    padding: 0.2em 0.2em 0.3em 0.3em;
    color: #999;
}
.signal:nth-child(2) {
    opacity: 0.7
}
.signal:nth-child(3) {
    opacity: 0.5
}
.signal:nth-child(4) {
    opacity: 0.3
}
.signal:nth-child(5) {
    opacity: 0.2
}
.signal:nth-child(6) {
    opacity: 0.1
}
.signal:nth-child(n+7) {
    opacity: 0.0
}
.signal .user_name {
    font-size: 0.5em;
    opacity: 0.2;
    margin-left: 1em;
}
.signals .signal {
    position: relative;
     /*required for percentage underlay */
}
.signals .vote_count {
    padding-right:10px;
}
.signals .vote_percent {
    width:0%;
    height:100%;
    background-color:black;
    top: 0; left:0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}
hr { display: none}
.signals {
    height: 100%;
    margin: auto;
}
.group_a {
    float: left;
    width: 50%;
}
.group_b {
    width: 50%;
    float: right;
}
/*.first_signal {
    border-bottom: 0.09em solid #fff;
    font-weight: bold;
}
.group_a .first_signal {
    border-color: #99f;
    color: #99f;
}
.group_b .first_signal {
    border-color: #f99;
    color: #f99;
}*/
.vote_count {
    opacity: 0.3
}
.first_signal .vote_count {
    opacity: 0.2;
}
.first_signal .user_name,
.first_signal .user_name {
}

/* progressbar
http://jsfiddle.net/mjEDY/99/
http://codepen.io/vn38minhtran/pen/QjaZrm
 */

.react-progress-bar {
    /*width: 118%;*/
    width: 100%;
    height: 100%;
    transition: all 400ms;
    position: absolute;
    top: 0; left: 0;
}
.react-progress-bar-percent {
    /*width:100%;*/
    /* set to 100% to background*/
    height:6px;
    background-color: #fff;
    bottom: 0; left:0;
    position: absolute;
    z-index: -1;
    transition: all 400ms;
}
.progress_bar {
    position: relative;
}
.active_signal {
    border:1px solid black;
    color: grey;
    /*position: relative;*/
}
.active_signal {
    font-weight: bold;
}
.group_a .active_signal {
    color: #99f;
}
.group_b .active_signal {
    color: #f99;
}
/*https://facebook.github.io/react/docs/animation.html*/
/*.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}*/
